<div class="center-container">
    <div class="modal-box">
        <h2 class="title mb-2">
            Create a new list
        </h2>

        <div class="input-group mb-3">
            <input type="text" class="form-control input-bg" placeholder="Create A List" [(ngModel)]="listTitle">
        </div>

        <div class="d-flex" style="justify-content: end;">
            <button class="btn btn-secondary" routerLink="/" style="margin: 5px;">Cancel</button>
            <button class="btn my-btn" type="button" (click)="createList(listTitle)">Create</button>
        </div>


    </div>
</div>